[Desktop Entry]
Name=BoxBuddy
Exec=boxbuddy
Type=Application
Icon=co.uk.dvlv.boxbuddy
Categories=Utility;
Comment=A Graphical Application For Managing Distroboxes
